asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
django==6.0.4
django-cors-headers==4.9.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
django-types==0.24.0
django-unfold==0.94.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
djangorestframework-stubs==3.16.8
idna==3.15
librt==0.8.1
mypy==1.19.1
mypy-extensions==1.1.0
pathspec==1.0.4
pillow==12.2.0
pyjwt==2.12.1
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stripe==15.1.0
types-jmespath==1.1.0.20260124
types-psycopg2==2.9.21.20260422
types-pyyaml==6.0.12.20260408
typing-extensions==4.15.0
urllib3==2.7.0
