annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
Django==6.0.4
django-cors-headers==4.9.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
django-types==0.24.0
django-unfold==0.94.0
djangorestframework==3.17.1
djangorestframework-stubs==3.16.8
djangorestframework_simplejwt==5.5.1
fastapi==0.136.0
gunicorn==23.0.0
h11==0.16.0
idna==3.11
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
openai
packaging==26.2
pathspec==1.0.4
pillow==12.2.0
psycopg2-binary==2.9.9
pydantic==2.13.2
pydantic_core==2.46.2
PyJWT==2.12.1
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
starlette==1.0.0
stripe==15.1.0
types-jmespath==1.1.0.20260124
types-psycopg2==2.9.21.20260422
types-PyYAML==6.0.12.20260408
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.44.0
