asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
django-types==0.24.0
djangorestframework==3.17.1
djangorestframework-stubs==3.16.8
djangorestframework_simplejwt==5.5.1
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
pathspec==1.0.4
pillow==12.2.0
PyJWT==2.12.1
python-dotenv==1.2.2
sqlparse==0.5.5
types-jmespath==1.1.0.20260124
types-psycopg2==2.9.21.20260422
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
